* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.main_box {
  background: url(photo.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.btn_one i {
  color: white;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar_menu {
  background: #11101d;
  position: fixed;
  left: -300px;
  height: 100vh;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}
.sidebar_menu .logo {
  position: absolute;
  width: 100%;
  line-height: 60px;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .logo a {
  position: absolute;
  left: 50px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.sidebar_menu .btn_two i{
  color: grey;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  left: 275px;
  line-height: 60px;
  opacity: 0;
  cursor: pointer;
}

.sidebar_menu .menu{
  color: white;
  position: absolute;
  width: 100%;
  top: 80px;
}

.sidebar_menu .menu li{
  margin-top: 6px;
  padding: 14px 20px;
  
}

.sidebar_menu .menu i, a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.sidebar_menu .menu i{
 padding-right: 8px;
}
.sidebar_menu .social_media{
  color: white;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.sidebar_menu .social_media i{
  color: white;
  opacity: 0.5;
  padding: 0 5px;

} 

#check{
  display: none;
}

.sidebar_menu .menu li:hover{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.btn_one i:hover{
  cursor: pointer;
  font-size: 40px;
}


.btn_two i:hover{
  cursor: pointer;
  font-size: 30px;
}

.sidebar_menu .social_media i:hover{
  opacity: 1;
  transform: scale(1.2);
  transition: all 0.3s linear;
}

#check:checked ~ .sidebar_menu{
  left: 0 !important;
}

#check:checked ~ .sidebar_menu .btn_two i{
  opacity: 1;
}         

#check:checked ~ .btn_one i{
  opacity: 0;
} 

@media (max-width: 768px){
  .sidebar_menu{
    width: 100%;
    left: -100%;
  }
}

