@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    display: grid;
    height: 100%;
    place-items: center;
    background: #f2f2f2;
    margin: 20px;

}

.wrapper {
    width: 380px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);

}

.wrapper .title {
    font-size: 35px;
    color: white;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    border-radius: 15px 15px 0px 0px;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.wrapper form {
    padding: 10px 30px 50px 30px;

}

.wrapper form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.wrapper form .field input {
    height: 100%;
    width: 100%;
    padding-left: 20px;
    border-radius: 25px;
    outline: none;
    font-size: 17px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;


}
.wrapper form .field input:focus,
.wrapper form .field input:valid{
border-color: #4158d0;
}


.wrapper form .field label {
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 17px;
    color: #333;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.3s ease;

}

.wrapper form .field input:focus ~ label,
.wrapper form .field input:valid ~ label {
    top: 0px;
    color: #4158d0;
    font-size: 16px;
    background: #FFF;
    transform: translateY(-50%);
}